<section class=" bg-zinc-900 p-20 rounded-xl my-4">
    <h2 class=" text-5xl font-bold my-5">About us</h2>
    <p class=" text-zinc-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem similique provident facilis impedit, minima dignissimos, temporibus delectus quam consequuntur molestiae architecto ea, numquam quas perferendis sapiente libero fugit repellendus cum!</p>
</section>